@import "../../partials/mixins.scss";

.home {
    margin-top: rem(60);
    display: flex;
    margin-bottom: 1.25rem;
    flex-direction: column;
    justify-content: center;

    @include lg {
        margin-top: rem(102);
    }

    h1 {
        font-weight: 700;
        font-size: rem(122);
        line-height: 0.6;


        @include lg {
            width: 50%;
        }

        @include md-max {
            font-size: rem(61);
        }
        span {
            font-size: rem(52);
            line-height: 0;

            @include md-max {
                font-size: rem(20);

            }

        }
    }
    
    h2 {
        font-weight: 100;
        font-size: rem(32);
        margin-top: rem(50);

        @include lg {
            width: 40%;
        }

        @include md-max {
            margin-top: rem(36);
            font-size: rem(25);
        }
    }

    .news-section {
        margin-top: rem(65);
    }
}
